<!doctype html>
<html lang="en">
<head>
  <!-- Title block allowing child pages to override -->
  <title>{% block title %}Project Title{% endblock %}</title>

  <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />

  <!-- Device Specific Metadata -->
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <!-- Vendor Styles -->
  

  <!-- Global Styles -->
  {{ "main.css" | asset_url | stylesheet_tag }}

  <!-- Style block allowing child pages to inject their own styles -->
  {% block styles %}{% endblock %}
</head>
<body>

  <div id="wrapper" class="container no-padding">

    {% include "header" %}
    {% include "about" %}
  
    <div class="divider">
      <h1>Join The Movement</h1>
      <div class="diagonal"></div>
      <div class="clear"></div> 
    </div>

    {% include "details" %}  

    <img src="{{ "road.jpg" | asset_url }}" class="img-responsive" alt="">

    {% include "sponsors" %}

    <img src="{{ "ray-anderson-wedge.jpg" | asset_url }}" class="img-responsive" alt="">

    {% include "footer" %}


  </div>

  <!-- Vendor Scripts -->
  {{ "jquery.min.js" | asset_url | script_tag }}
  {{ "bootstrap.js" | asset_url | script_tag }}

  <!-- Script block allowing child pages to inject their own scripts -->
  {% block scripts %}{% endblock %}
  
</body>
</html>