<section id="sponsors">
  <div class="container col-sm-offset-1 no-padding">
    <div class="container-grey row col-sm-10">

    	<!-- Small Logo -->
      <div class="row">
      	<div class="col-sm-4">
      		<img src="{{ "interface.png" | asset_url }}" class="img-responsive" alt="">
      	</div>
      	<div class="col-sm-4">
      		<img src="{{ "ga-tech.png" | asset_url }}" class="img-responsive" alt="">
      	</div>
      	<div class="col-sm-4">
      		<img src="{{ "perkins-will.png" | asset_url }}" class="img-responsive" alt="">
      	</div>
      </div>

      <!-- Large Logo -->
      <div class="row">
      	<div class="col-sm-6">
      		<img src="{{ "ray-foundation.png" | asset_url }}" class="img-responsive" alt="">
      	</div>
      	<div class="col-sm-6">
      		<img src="{{ "ga-conservancy.png" | asset_url }}" class="img-responsive" alt="">
      	</div>
      </div>

    </div>
  </div>
</section>